<html>
    <head>
        <title>Django Girls Tutorial!</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to my blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Why do people drink IPAs? They are too bitter. More cider and cocktails, please.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Should I start a to-do list here. Hm.</p>
        </div>
    </body>
</html>